
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-light dark:bg-surface-dark text-dark dark:text-slate-200 font-sans transition-colors duration-300;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .font-heading {
    font-family: 'Outfit', sans-serif;
  }
}
